.routeinfo_header {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.routeinfo_normal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}
.header {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.normal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal}
.landmark_text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; }
